<section class="bg-body-secondary">
    <div class="container">
        <div class="row">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-8 col-sm-12 mx-auto">
                <div class="d-flex align-items-center justify-content-center" style="height: 83.3vh;">
                    <div class="card w-100 shadow-sm">
                        <div class="card-header">
                            <h4 class="card-title">Import Data</h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="importForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="file" class="mb-1">Import your file</label>
                                    <input type="file" class="form-control" formControlName="excelFile" id="file" name="file" accept=".xlsx, .xls"
                                        (change)="onFileChange($event)" />
                                    <div class="text-center mt-4">
                                        <button type="button" class="btn btn-danger rounded-1 me-3" (click)="resetForm()">Reset</button>
                                        <button type="submit" class="btn btn-success rounded-1">Import</button>
                                    </div>
                                </div>
                            </form>                                                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="showToast" class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast show align-items-center text-white bg-{{ toastType }} border-0">
        <div class="d-flex">
            <div class="toast-body">
                {{ toastMessage }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" aria-label="Close" (click)="showToast = false"></button>
        </div>
    </div>
</div>