.asset-map {
    .assetMap{
        height: 90vh;
    }
}

.gm-style .custom-info-window {
    padding: 10px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border: 1px solid #ddd;
}

.gm-style .custom-info-window .station-name {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.gm-style .custom-info-window .address,
.gm-style .custom-info-window .info-line {
    font-size: 14px;
    color: #444;
    margin-bottom: 6px;
}