<div class="asset-map p-3">
    <h3 class="mb-3">Asset Map</h3>

    <form [formGroup]="filterForm" class="row g-3 align-items-end mb-4">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <div class="form-check d-flex align-items-center justify-content-center">
                    <input class="form-check-input me-2" type="radio" formControlName="stationType"
                        value="charging_stations" id="chargingStations" (change)="onFilter()">
                    <label class="form-check-label fw-bold" for="chargingStations">
                        Charging Stations
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check d-flex align-items-center justify-content-center">
                    <input class="form-check-input me-2" type="radio" formControlName="stationType"
                        value="charging_ports" id="chargingPorts" (change)="onFilter()">
                    <label class="form-check-label fw-bold" for="chargingPorts">
                        Charging Ports
                    </label>
                </div>
            </li>
        </ul>
    </form>

    <div #mapContainer id="map"></div>
</div>