<nav class="navbar navbar-expand-md navbar-light shadow sticky-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'.'">
            <img src="../../../assets/image/logo.png" width="200" alt="">
        </a>

        <button class="navbar-toggler text-white border" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ms-3 active">
                    <a class="nav-link px-4 text-white" [routerLink]="'AllRecord'" (click)="isMenuCollapsed = true">Home</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link px-4 text-white" [routerLink]="'TechForm'" (click)="isMenuCollapsed = true">Add</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link px-4 text-white" [routerLink]="'ImportData'" (click)="isMenuCollapsed = true">Import</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link px-4 text-white" [routerLink]="'.'" (click)="isMenuCollapsed = true">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>