/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
    --blue-bg: #0a1f69;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.bgLight{
    background-color: #f3f6ff;
}

.pagination{
    @media (min-width: 576px) {
        margin-bottom: 0;
    }
}

.blueBG{
    background-color: var(--blue-bg);
}

.cursorPointer{
    cursor: pointer;
}