<section class="py-4 bg-body-secondary">
    <div class="container-fluid">
        <h4 class="text-center mb-4">Skill Fusion Tech-Pal Form</h4>
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
            <div class="card shadow-sm rounded-1 mb-4">
                <div class="card-body py-0">
                    <div class="row">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 px-4 py-3">
                            <h5 class="text-center">Personal Information</h5>
                            <hr>
                            <div class="row">
                                <!-- First Name -->
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">First Name <span class="text-danger">*</span></label>
                                    <input type="text" formControlName="firstName" class="form-control shadow-none" />
                                    <div *ngIf="dataForm.get('firstName')?.touched && dataForm.get('firstName')?.errors?.['required']"
                                        class="text-danger position-absolute">
                                        First Name is required.
                                    </div>
                                </div>

                                <!-- Last Name -->
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" formControlName="lastName" class="form-control shadow-none" />
                                    <div *ngIf="dataForm.get('lastName')?.touched && dataForm.get('lastName')?.errors?.['required']"
                                        class="text-danger position-absolute">
                                        Last Name is required.
                                    </div>
                                </div>

                                <!-- Phone Number -->
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">Phone Number <span class="text-danger">*</span></label>
                                    <input type="text" formControlName="phoneNumber" class="form-control shadow-none" />
                                    <div *ngIf="dataForm.get('phoneNumber')?.touched && dataForm.get('phoneNumber')?.errors?.['required']"
                                        class="text-danger position-absolute">
                                        Phone Number is required.
                                    </div>
                                    <div *ngIf="dataForm.get('phoneNumber')?.touched && dataForm.get('phoneNumber')?.errors?.['pattern']"
                                        class="text-danger position-absolute">
                                        Please enter a valid phone number.
                                    </div>
                                </div>

                                <!-- SSN -->
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">SSN <span class="text-danger">*</span></label>
                                    <input type="text" formControlName="ssn" class="form-control shadow-none" />
                                    <div *ngIf="dataForm.get('ssn')?.touched && dataForm.get('ssn')?.errors?.['required']"
                                        class="text-danger position-absolute">
                                        SSN is required.
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <label class="form-label">Emergency Contact Name</label>
                                        <input type="text" formControlName="emergencyContactName1"
                                            class="form-control shadow-none" />
                                        <div *ngIf="isInvalid('emergencyContactName1')" class="text-danger">
                                            Emergency Contact Name 1 is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label class="form-label">Phone Number <span
                                                class="text-danger">*</span></label>
                                        <input type="text" formControlName="emergencyContactNumber1"
                                            class="form-control shadow-none" />
                                        <div *ngIf="dataForm.get('emergencyContactNumber1')?.touched && dataForm.get('emergencyContactNumber1')?.errors?.['required']"
                                            class="text-danger position-absolute">
                                            Phone Number is required.
                                        </div>
                                        <div *ngIf="dataForm.get('emergencyContactNumber1')?.touched && dataForm.get('emergencyContactNumber1')?.errors?.['pattern']"
                                            class="text-danger position-absolute">
                                            Please enter a valid phone number.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label class="form-label">Emergency Contact Name</label>
                                        <input type="text" formControlName="emergencyContactName2"
                                            class="form-control shadow-none" />
                                        <div *ngIf="isInvalid('emergencyContactName2')" class="text-danger">
                                            Emergency Contact Name 2 is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label class="form-label">Phone Number</label>
                                        <input type="text" formControlName="emergencyContactNumber2"
                                            class="form-control shadow-none" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input rounded-1 shadow-none" type="checkbox" formControlName="ttiawo">
                                <label class="form-check-label font-14">This Tech is Accepting Work-Orders</label>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <p class="mb-0 me-3 font-14 fw-semibold">Background Check</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="isAcceptingWorkOrders"
                                        value="pass" />
                                    <label class="form-check-label">Pass</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="isAcceptingWorkOrders"
                                        value="none" />
                                    <label class="form-check-label">None</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 bgLight px-4 py-3">
                            <h5 class="text-center">Address</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <label class="form-label">Address</label>
                                    <input type="text" formControlName="address" class="form-control shadow-none" />
                                    <div *ngIf="dataForm.get('address')?.touched && dataForm.get('address')?.errors?.['required']"
                                        class="text-danger position-absolute">
                                        Address is required.
                                    </div>
                                </div>
                                <div class="col-md-12 mb-4">
                                    <label class="form-label">City</label>
                                    <input type="text" formControlName="cityName" class="form-control shadow-none" />
                                    <div *ngIf="isInvalid('city')" class="text-danger">
                                        City is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">State</label>
                                    <select class="form-select shadow-none" formControlName="stateName">
                                        <option selected disabled>Select State</option>
                                        <option value="maharashtra">Maharashtra</option>
                                        <option value="madhya-pradesh">Madhya Pradesh</option>
                                        <option value="rajasthan">Rajasthan</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">Zip Code</label>
                                    <input type="text" formControlName="zipCode" class="form-control shadow-none" />
                                    <div *ngIf="isInvalid('zipCode')" class="text-danger">
                                        Zip Code is required.
                                    </div>
                                </div>
                            </div>
                            <hr class="my-2">
                            <h5 class="text-center">Service Area</h5>
                            <hr class="my-2">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label class="form-label" for="latitude">Latitude</label>
                                    <input type="text" formControlName="latitude" class="form-control shadow-none" readonly />
                                    <div *ngIf="isInvalid('latitude')" class="text-danger">
                                        Latitude is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label" for="longitude">Longitude</label>
                                    <input type="text" formControlName="longitude" class="form-control shadow-none" readonly />
                                    <div *ngIf="isInvalid('longitude')" class="text-danger">
                                        Longitude is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label" for="radius">Radius (Miles)</label>
                                    <input type="number" formControlName="radius" class="form-control shadow-none" />
                                    <div *ngIf="isInvalid('radius')" class="text-danger">
                                        Radius is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 align-self-end">
                                    <button class="btn btn-info rounded-1 w-100" [disabled]="isLoading">
                                        {{ isLoading ? 'Fetching...' : 'Get Geocode Address' }}
                                    </button>
                                </div>
                            </div>                              
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 px-4 py-3">
                            <h5 class="text-center">Drivers License</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">State of License</label>
                                    <input type="text" formControlName="stateOfLicense"
                                        class="form-control shadow-none" />
                                    <div *ngIf="dataForm.get('stateOfLicense')?.touched && dataForm.get('stateOfLicense')?.errors?.['required']"
                                        class="text-danger position-absolute">
                                        State of License is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 position-relative placeholder_Custom">
                                    <label class="form-label">Expiry Date</label>
                                    <input type="date" formControlName="ed" class="form-control shadow-none" />
                                    <span class="placeholder-text" [class.hidden]="dataForm.get('ed')?.value">
                                        DD-MMM-YYYY
                                    </span>
                                </div>
                                  
                                <div class="col-md-12 mb-4">
                                    <label class="form-label">Identification Number</label>
                                    <input type="text" formControlName="identificationNumber"
                                        class="form-control shadow-none" placeholder="Enter Identification Number" />
                                    <div *ngIf="isInvalid('identificationNumber')" class="text-danger">
                                        Identification Number is required.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-check-label">Upload New Drivers License File</label>
                                <div class="input-group">
                                    <input type="file" class="form-control shadow-none" />
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-4 text-center">
                <button type="submit" class="btn btn-primary">Update</button>
                <!-- <button type="submit" class="btn btn-primary" [disabled]="dataForm.invalid || isFileInvalid">Submit</button> -->
            </div>
        </form>
    </div>
</section>

<ngb-toast 
  *ngIf="showToast"
  [class.bg-success]="toastType === 'success'"
  [class.bg-danger]="toastType === 'error'"
  class="text-white position-fixed top-0 end-0 m-3"
  [autohide]="false"
  [delay]="3000"
  (hidden)="showToast = false"
>
  {{ toastMessage }}
</ngb-toast>
