<section class="authBg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-7 col-sm-8 col-12">
                <div class="card shadow border-0 rounded-3">
                    <div class="card-header text-center blueBG">
                        <img src="/assets/image/logo.png" width="200" class="img-fluid mb-3" alt="Logo">
                        <h4 class="text-center text-white">Forgot Password</h4>
                    </div>
                    <div class="card-body p-4">
                        <form [formGroup]="forgotPasswordForm" [class.disabled]="loading">
                            <div class="position-relative mb-4">
                                <label class="form-label">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text rounded-start-1">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                    <input type="text" id="email" class="form-control shadow-none rounded-end-1" placeholder="Enter email" formControlName="email" autocomplete="email">
                                </div>
                                <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger position-absolute">
                                    Email is required.
                                </div>
                            </div>
        
                            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        
                            <button type="submit" class="btn authButton rounded-1 w-100 mt-3" [disabled]="loading">
                                {{ loading ? 'Sending Verification Code...' : 'Send Verification Code' }}
                            </button>

                            <div class="d-flex align-items-center justify-content-evenly mt-3">
                                <a routerLink="/register" class="nav-link text-danger">New User Register Here</a>
                                <span class="text-danger">|</span>
                                <a routerLink="/login" class="nav-link text-danger">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>